<header>
    <h1 id="logo">InstaAura</h1>
    <nav >
        <ul id="menu">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'list_profiles' %}">Profiles</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'profile_detail' request.user.profile.pk %}">My Profile</a></li>
            <li><a href="{% url 'create_post' %}">Create Post</a></li>
            {% endif %}
        </ul>
    </nav>
    <aside id="sing">
        {% if request.user.is_authenticated %}
            <li class="log"><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
            
        {% if not request.user.is_authenticated %}
        <li class="log"><a href="{% url 'login' %}">Login</a></li>
            <li class="singup"><a href="{% url 'register' %}">Sing up</a></li>
        {% endif%}
    </aside>
</header>