<header>
    <h1>InstaAura</h1>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'list_profiles' %}">Profiles</a></li>
            {% if not request.user.is_authenticated %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            {% endif%}
            <li><a href="{% url 'contact' %}">Contact</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'profile_detail' request.user.profile.pk %}">My Profile</a></li>
            <li><a href="{% url 'create_post' %}">Create Post</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
</header>