header{
    display: flex;
    gap: 280px;
    align-items: center;
    margin-left: 50px;   
    @include breakpoint(mobile){
        gap: 20px;
        margin-left: 0px;
        display: block;
        h1{
            font-size: 20px;
            margin-bottom: 0;
            text-align: center;
        }
    }
    .nav{
        @include breakpoint(mobile){
        // display: block;
        
        }
    }
}