/*devices*/
$bp-mobile: 375px;
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;


/*colors*/
$--primary-color:  #0c2b08;
$--secundary-color: #c2e42d;
$--tertiary-color:#faff00;



/*Typography*/
$--primary-font:"Poppins", sans-serif; 


/*font-size mobile*/
$--font-size-primary: 16px;
$--font-size-hero-title: 70px;
$--font-size-secondary: 32px;

