{% extends 'general/layout.html' %}

{% block head_title %}Welcome to our instagram {% endblock %}

{% block page_content %}
<div class="container">
  {% if not request.user.is_authenticated %}
    <h1 class="h1home">Share your pictures and save your moments!!</h1>
    <section class="collage"> 
      <p>
        <img src="https://picsum.photos/200/300?random=1" alt="Home">
        <img src="https://picsum.photos/200/300?random=2" alt="Home">
        <img src="https://picsum.photos/200/300?random=3" alt="Home">
      </p>
    </section>
    {% endif %}
    <section>
      {% if request.user.is_authenticated %}
      <p class="wellcome">Wellcome {{ user.username}}</p>
      <h1 class="home-posts">Lastest posts</h1>
      <div class="row">
        {% for post in last_posts %}
          <div class="col-12 col-sm-6 col-md-4">
            {% include '_includes/_post.html' %}
          </div>
        {% endfor %}
      </div>
      {% endif %}
    </section>
  </div>
  {% endblock %}