{% extends 'general/layout.html' %}

{% block head_title %}Welcome to our instagram {% endblock %}

{% block page_content %}
<div class="container">
    <h1 class="h1profiles">Profiles</h1>
    <div class="rowprofiles">
{% for profile in profiles %}
      <article class="profiles">
        <section>
          <h4>{{ profile.user.username}}</h4>
          <p>
            {% if profile.profile_picture %}
              <img class="caption" src="{{ profile.profile_picture.url }}" alt="" width="100 px">
            {% else %}
              Picture not aviable
            {% endif %}
            </p>
            <p><a class="profile-button" href="{% url 'profile_detail' profile.pk %}">See Profile</a></p>
        </section>
        <section>
          <p>Bio: {{profile.bio|default_if_none:"Bio not aviable"}} </p>
          <p>Birth day: {{ profile.birth_date|default_if_none:"Birth date not aviable" }} </p>
          <p>Followers: {{ profile.followers.count }}</p>
          
        </section>
      </article>
      {% endfor %}
    </div>
    
</div>
{% endblock %}